html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style-position: inside;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  /* ------ */

  body
  {
    background-color: #222;
    color:#bbb;
    font-family: monospace;
  }

  h1
  {
    color:white;
    font-size: 40px;;
  }
  h2
  {
    color:white;
    font-family: arial;
    margin-top:30px;
    margin-bottom:20px;
    text-transform: uppercase;
  }


@media (min-width: 320px) and (max-width: 780px)
{

    .content
    {
      padding:30px;
      max-width: 100%;
      
  }


}

@media (min-width: 781px)
{

    .content
    {
      padding:30px;
      max-width: 50%;
  }
} 




  a
  {
    color:white;
    text-decoration: underline;
    font-weight: bold;
  }

  td
  {
    padding:5px;
  }

  .quote
  {
    display: block;
    font-style: italic;
    background-color: #111;
    border-left:10px solid black;
    margin-top:10px;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
    color:#aaa
  }